<div class="jumbtron" *ngIf="!ok">
  <div>
  <h2><b>Create new Category Tematic</b></h2>
  </div>
  <hr>
      <div class="login-box">
        <form [formGroup]="CategoryTematicForm">
          <div class="user-box">
            <input [ngClass]="(getAtrr('tematicName')?.invalid &&
            getAtrr('tematicName')?.touched) ? 'textBoxError' : 'textBox'" type="text" name="" required="" formControlName="tematicName">
            <p>Tematic Name</p>
            <small *ngIf="getAtrr('tematicName')?.invalid &&
                          getAtrr('tematicName')?.touched"
                          class="error" >This field is required</small>
          </div>

          <div class="user-box">
            <p *ngIf="!getAtrr('layerName')?.value.length">Choose layer</p>
            <mat-form-field appearance="fill" class="select-box">
              <mat-label *ngIf="getAtrr('layerName')?.value.length" style="color: #3461c2;">Layer</mat-label>
              <mat-select formControlName="layerName" (selectionChange)="getTables()">
                <mat-option *ngFor="let layer of layers" [value]="layer.name">
                  {{layer.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="getAtrr('layerName')?.invalid &&
                          getAtrr('layerName')?.touched"
                          class="error-select" >This field is required</small>
          </div>

          <div class="user-box">
            <p *ngIf="!getAtrr('table')?.value.length">Choose table</p>
            <mat-form-field appearance="fill" class="select-box">
              <mat-label *ngIf="getAtrr('table')?.value.length" style="color: #3461c2;">Table</mat-label>
              <mat-select formControlName="table" (selectionChange)="getAtrr('column')?.markAsUntouched(); CategoryTematicForm.patchValue({column:''});">
                <mat-option *ngFor="let table of tables" [value]="table">
                  {{table}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="getAtrr('table')?.invalid &&
                          getAtrr('table')?.touched"
                          class="error-select" >This field is required</small>
          </div>

          <div class="user-box">
            <p *ngIf="!getAtrr('column')?.value.length">Choose column</p>
            <mat-form-field appearance="fill" class="select-box">
              <mat-label *ngIf="getAtrr('column')?.value.length" style="color: #3461c2;">Column</mat-label>
              <mat-select formControlName="column">
                <mat-option *ngFor="let col of columns" [value]="col">
                  {{col}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="getAtrr('layerName')?.invalid &&
                          getAtrr('layerName')?.touched"
                          class="error-select" >This field is required</small>
          </div>



          <div class="expcvv">
            <button type="submit" class="button1 btn btn-success btn-lg btn-block" (click)="okFunction()" [disabled]="CategoryTematicForm.invalid">
              <div>OK</div>
            </button>
            <button type="submit" class="button1 btn btn-success btn-lg btn-block" (click)="goCategoriesList()">Cancel</button>
          </div>
        </form>
  </div>

</div>

<!-------------------------------------------------------------------------------------------------------------------------->


<div *ngIf="ok" class="content">

  <div class="container">
    <h2 class="mb-5"><b>{{getAtrr('tematicName')?.value}}'s queries</b></h2>
    <!-- {{tematicService.tematicQueries | json}} -->

    <div class="table-responsive custom-table-responsive">

      <table class="table custom-table">
        <thead>
          <tr>
            <th scope="col">Layer</th>
            <th scope="col">Table</th>
            <th scope="col">Query</th>
            <th scope="col">Style</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let query of tematicService.tematicQueries; let i = index">
          <tr scope="row">
            <td>
              {{query.layerName}}
            </td>
            <td>{{query.tableName}}</td>
            <td>
              <div *ngFor="let condition of query.conditions">
                <b *ngIf="condition.logicOperator">{{condition.logicOperator + ' ' | uppercase}}</b>
                {{condition.columnName + ' '}} <b>==</b> {{' ' + condition.value}}<br>
              </div>
            </td>
            <td>
              <select #styleSelected (change)="modifyStyle(styleSelected.value, i)" class="inputbox2">
                <option *ngFor="let style of styles" [value]="style.name" [selected]="style.name === query.styleName">
                  {{style.name}}
                </option>
              </select>
            </td>
            <td><img *ngIf="this.styles" [src]="getStyleImg(query.styleName)" width="80" height="30"></td>

          </tr>
          <tr class="spacer"><td colspan="100"></td></tr>

        </tbody>
      </table>
    </div>

    <div class="expcvv">
      <button type="submit" class="button1 btn btn-success btn-lg btn-block" (click)="saveCategory()">
        <div *ngIf="tematicIndex === 0">Create Tematic</div>
        <div *ngIf="tematicIndex !== 0">Edit Tematic</div>
      </button>
      <button type="submit" class="button1 btn btn-success btn-lg btn-block" (click)="goBack()">Cancel</button>
    </div>


  </div>

</div>
