
  <div class="content">

    <div class="container">
      <h2 class="mb-5" style="color:blue"><b>User Manager</b></h2>
      <!-- {{rolesForm.value | json}} -->

      <div class="table-responsive custom-table-responsive" [formGroup]="rolesForm">

        <table class="table custom-table" formArrayName="roles">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Roles</th>
              <th scope="col">Workspaces</th>
              <th scope="col">Client Apps</th>
              <th scope="col" class="col-md-1"></th>
            </tr>
          </thead>
          <tbody *ngFor="let user of dataObs | async; let i = index">
            <tr scope="row">
              <td>
                {{user.email}}
              </td>
              <td>

                <div class="user-box">
                  <mat-form-field appearance="fill" class="select-box" >
                    <mat-select multiple [formControlName]="paginator.pageIndex * paginator.pageSize + i" (selectionChange)="updateRoles(user)">
                      <mat-option *ngFor="let rol of this.roles" [value]="rol.name" >
                        {{rol.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>

              <td>
                <select class="inputbox" (click)="$event.stopPropagation(); workspaceSelect.value = '--see workspaces--'" #workspaceSelect>
                  <option value="--see workspaces--">--see workspaces--</option>
                  <option *ngFor="let workspace of user.workspaces" value="--see workspaces--">{{workspace.name}}
                    </option>
                    <option *ngIf="user.workspaces.length < 1">**no workspaces to show**</option>
                </select>
              </td>

              <td>
                <select class="inputbox" (click)="$event.stopPropagation(); appSelect.value = '--see apps--'" #appSelect>
                  <option value="--see apps--">--see apps--</option>
                  <option *ngFor="let clientApp of user.clientApps; let j = index" value="--see apps--">{{clientApp.name}}
                    </option>
                    <option *ngIf="user.clientApps.length < 1">**no apps to show**</option>
                </select>
              </td>

              <td class="col-md-1">
                <i class="fa fa-info-circle fa-lg info" data-toggle="modal" data-target="#details"
                (click)="_user = user"></i>

                <i class="far fa-trash-alt fa-lg trash2" data-toggle="modal" data-target="#confirmDelete"
                (click)="_user = user"></i>
              </td>
            </tr>
            <tr class="spacer"><td colspan="100"></td></tr>

          </tbody>
        </table>
        <mat-paginator style="font-size: 0.4cm; color: black;" showFirstLastButtons [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[3, 5, 10, 15, 20]"
              aria-label="Select page">
        </mat-paginator>

      </div>


    </div>

  </div>


  <!-- Modal details -->
  <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="header-modal">
          <div class="modal-title" id="exampleModalLongTitle">User Details</div>
        </div>
        <div *ngIf="_user" class="modal-body">

          <b>Id</b>: {{_user.id}} <br>
          <b>Email</b>: {{_user.email}} <br>
          <b>Roles</b>: {{_user.roles}} <br>
          <b>Workspaces</b>: {{_user.workspaces.map(getName).join(', ')}} <br>
          <b>Client Apps</b>: {{_user.clientApps.map(getName).join(', ')}}

        </div>
        <div class="text-center">
          <button type="button" class="button-modal btn btn-success btn-lg btn-block" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal delete confirmation -->
  <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="header-modal-delete">
          <div class="modal-title" id="exampleModalLongTitle">Delete confirmation</div>
        </div>
        <div class="modal-body">
          <b>This user, and ALL his client apps and workspaces, will be permanently removed!</b>
        </div>
        <div class="text-center">
          <button type="button" class="button-modal btn btn-success btn-lg btn-block" data-dismiss="modal" (click)="deleteUser(_user)">OK</button>
          <button type="button" class="button-modal btn btn-success btn-lg btn-block" data-dismiss="modal" style="margin-left:0.5cm">Cancel</button>
        </div>
      </div>
    </div>
  </div>
