
  <div class="content">

    <div class="container">
      <h2 class="mb-5"><b>Providers</b></h2>


      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col">Provider Name</th>
              <th scope="col">Description</th>
              <th scope="col">Connection String</th>
              <th scope="col">Table</th>
              <th scope="col" class="col-md-1"><a class="create" (click)="goCreateProvider()">New</a></th>
            </tr>
          </thead>
          <tbody *ngFor="let provider of providers; let i = index;">
            <tr scope="row" (click)="infoProvider(i)">
              <td>
                {{provider.name}}
              </td>
              <td>
                {{provider.description}}
              </td>
              <td>
                {{provider.connString}}
              </td>
              <td>
                {{provider.table}}
              </td>
              <td class="col-md-1">
                <i class="far fa-edit fa-lg edit2" (click)="editProvider($event, provider.id)" ></i>

                <i class="far fa-trash-alt fa-lg trash2" (click)="deleteProvider($event, provider.id)"></i>
              </td>
            </tr>
            <tr class="spacer"><td colspan="100"></td></tr>

          </tbody>
        </table>
      </div>


    </div>

  </div>

