
  <div class="content">

    <div class="container">
      <h2 class="mb-5" style="color: blue"><b>Providers</b></h2>


      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col">Provider Name</th>
              <th scope="col">Description</th>
              <th scope="col">Connection String</th>
              <th scope="col">Table</th>
              <th scope="col" class="col-md-1">
                <div class="fa-stack" (click)="goCreateProvider()">
                  <i class="fa fa-plus-circle"></i>
                </div></th>
            </tr>
          </thead>
          <tbody *ngFor="let provider of dataObs| async;">
            <tr scope="row">
              <td>
                {{provider.name}}
              </td>
              <td>
                {{provider.description}}
              </td>
              <td>
                {{provider.connectionString}}
              </td>
              <td>
                {{provider.table}}
              </td>
              <td class="col-md-1">
                <i class="fa fa-info-circle fa-lg info" data-toggle="modal" data-target="#details"
                (click)="_provider = provider"></i>

                <i class="far fa-edit fa-lg edit2" (click)="editProvider($event, provider)" ></i>

                <i class="far fa-trash-alt fa-lg trash2" data-toggle="modal" data-target="#confirmDelete"
                (click)="_provider = provider"></i>
              </td>
            </tr>
            <tr class="spacer"><td colspan="100"></td></tr>

          </tbody>
        </table>
        <mat-paginator style="font-size: 0.4cm; color: black;" showFirstLastButtons [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[3, 5, 10, 15, 20]"
              aria-label="Select page">
        </mat-paginator>
      </div>


    </div>

  </div>


<!-- Modal provider -->
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="header-modal">
        <div class="modal-title" id="exampleModalLongTitle">Provider Details</div>
      </div>
      <div class="modal-body">
        <b>Id</b>: {{_provider.id}} <br>
        <b>Name</b>: {{_provider.name}} <br>
        <b>Description</b>: {{_provider.description}} <br>
        <b>Connection String</b>: {{_provider.connectionString}} <br>
        <b>Table</b>: {{_provider.table}} <br>
        <b>PKField</b>: {{_provider.pkField}} <br>
        <b>GeoField</b>: {{_provider.geoField}} <br>
        <b>BoundingBox Field</b>: {{_provider.boundingBoxField}} <br>


      </div>
      <div class="text-center">
        <button type="button" class="button-modal btn btn-success btn-lg btn-block" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete confirmation -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="header-modal-delete">
        <div class="modal-title" id="exampleModalLongTitle">Delete confirmation</div>
      </div>
      <div class="modal-body">
        <b>This item, and ALL others entities relationated with it, will be permanently removed!</b>
      </div>
      <div class="text-center">
        <button type="button" class="button-modal btn btn-success btn-lg btn-block" data-dismiss="modal" (click)="deleteProvider($event, _provider.id)">OK</button>
        <button type="button" class="button-modal btn btn-success btn-lg btn-block" data-dismiss="modal" style="margin-left:0.5cm">Cancel</button>
      </div>
    </div>
  </div>
</div>


