
  <div class="content">

    <div class="container">
      <h2 class="mb-5" style="color: blue"><b>Styles</b></h2>


      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col">Style Name</th>
              <th scope="col">Polygon Fill</th>
              <th scope="col">Polygon Outline</th>
              <th scope="col">Line Fill</th>
              <th scope="col">Point Fill</th>
              <th scopr="col">Img</th>
              <th scope="col" class="col-md-1">
                <div class="fa-stack" (click)="goCreateStyle()">
                  <i class="fa fa-plus-circle"></i>
                </div></th>
            </tr>
          </thead>
          <tbody *ngFor="let style of dataObs| async;">
            <tr scope="row">
              <td>
                {{style.name}}
              </td>
              <td>
                <input disabled type="color" [value]="styleService.rgbToHex(style.fill)">
              </td>
              <td>
                <input disabled type="color" [value]="styleService.rgbToHex(style.outlinePen)">
              </td>
              <td>
                <input disabled type="color" [value]="styleService.rgbToHex(style.line)">
              </td>
              <td>
                <input disabled type="color" [value]="styleService.rgbToHex(style.pointFill)">
              </td>
              <td>
                <img [src]="styleService.getImgUrl(style.imageContent)" width="80" height="30">
              </td>
              <td class="col-md-1">
                <i class="fa fa-info-circle fa-lg info" data-toggle="modal" data-target="#details"
                (click)="_style = style"></i>

                <i class="far fa-edit fa-lg edit2" (click)="editStyle($event, style)" ></i>

                <i class="far fa-trash-alt fa-lg trash2" data-toggle="modal" data-target="#confirmDelete"
                (click)="_style = style"></i>
              </td>
            </tr>
            <tr class="spacer"><td colspan="100"></td></tr>

          </tbody>
        </table>
        <mat-paginator style="font-size: 0.4cm; color: black;" showFirstLastButtons [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[3, 5, 10, 15, 20]"
              aria-label="Select page">
        </mat-paginator>

      </div>


    </div>

  </div>


  <!-- Modal details -->
  <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Style Details</h5>
        </div>
        <div class="modal-body">
          <b>Id</b>: {{_style.id}} <br>
          <b>Name</b>: {{_style.name}} <br><br>
          <b>Polygon Fill</b>: <input disabled type="color" [value]="styleService.rgbToHex(_style.fill)"> <br><br>
          <b>Polygon Outline</b>: <input disabled type="color" [value]="styleService.rgbToHex(_style.outlinePen)"> <br><br>
          <b>Line Fill</b>: <input disabled type="color" [value]="styleService.rgbToHex(_style.line)"> <br><br>
          <b>Point Fill</b>: <input disabled type="color" [value]="styleService.rgbToHex(_style.pointFill)"> <br><br>
          <b>Img</b>: <img class="text-center" [src]="styleService.getImgUrl(_style.imageContent)" width="300" height="100"> <br>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal delete confirmation -->
  <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete confirmation</h5>
        </div>
        <div class="modal-body">
          <b>This item will be permanently removed!</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteStyle($event, _style.id)">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
