
  <div class="content">

    <div class="container">
      <h2 class="mb-5"><b>Layers</b></h2>


      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col">Layer Name</th>
              <th scope="col">Description</th>
              <th scope="col">Provider</th>
              <th scope="col">Styles</th>
              <th scope="col">Order</th>
              <th scope="col" class="col-md-1"><a class="create" (click)="goCreateLayer()">New</a></th>
            </tr>
          </thead>
          <tbody *ngFor="let layer of layers; let i = index;">
            <tr scope="row" (click)="infoLayer(i)">
              <td>
                {{layer.name}}
              </td>
              <td>
                {{layer.description}}
              </td>
              <td>
                {{layer.providerName}}
              </td>
              <td>
                <select class="inputbox" (click)="$event.stopPropagation(); styleSelect.value = layer.styles[0] + ' (default)'" #styleSelect>
                  <option *ngFor="let style of layer.styles; let i = index">{{style}} <div *ngIf="i===0">(default)</div></option>
                </select>
              </td>
              <td>
                {{layer.order}}
              </td>
              <td class="col-md-1">
                <i class="far fa-edit fa-lg edit2" (click)="editLayer($event, layer)" ></i>

                <i class="far fa-trash-alt fa-lg trash2" (click)="deleteLayer($event, layer.id)"></i>
              </td>
            </tr>
            <tr class="spacer"><td colspan="100"></td></tr>

          </tbody>
        </table>
      </div>


    </div>

  </div>
