
  <div class="content">

    <div class="container">
      <h2 class="mb-5"><b>Layers</b></h2>


      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col">Layer Name</th>
              <th scope="col">Description</th>
              <th scope="col">Provider</th>
              <th scope="col">Styles (ReadOnly)</th>
              <th scope="col"></th>
              <th scope="col">Order</th>
              <th scope="col" class="col-md-1">
                <div class="fa-stack" (click)="goCreateLayer()">
                  <i class="fa fa-plus-circle"></i>
                </div></th>
            </tr>
          </thead>
          <tbody *ngFor="let layer of dataObs| async;">
            <tr scope="row">
              <td>
                {{layer.name}}
              </td>
              <td>
                {{layer.description}}
              </td>
              <td>
                {{layer.providerName}}
              </td>
              <td>
                <select class="inputbox" (click)="$event.stopPropagation();" #styleSelect>
                  <option *ngFor="let style of layer.styles; let j = index" [value]="layer.stylesId[j]">{{style}}
                    <div *ngIf="j===0">(default)</div>
                    </option>
                </select>
              </td>
              <td *ngIf="styles"><img [src]="printImage(+styleSelect.value)" width="80" height="30" class="imgIcon"
                (click)="_style = +styleSelect.value"
                data-toggle="modal" data-target="#img"></td>
              <td>
                {{layer.order}}
              </td>
              <td class="col-md-1">
                <i class="fa fa-info-circle fa-lg info" data-toggle="modal" data-target="#details"
                (click)="_layer = layer"></i>

                <i class="far fa-edit fa-lg edit2" (click)="editLayer($event, layer)" ></i>

                <i class="far fa-trash-alt fa-lg trash2" data-toggle="modal" data-target="#confirmDelete"
                (click)="_layer = layer"></i>
              </td>
            </tr>
            <tr class="spacer"><td colspan="100"></td></tr>

          </tbody>
        </table>
        <mat-paginator style="font-size: 0.4cm; color: black;" showFirstLastButtons [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[3, 5, 10, 15, 20]"
              aria-label="Select page">
        </mat-paginator>
      </div>

    </div>

  </div>




  <!-- Modal details -->
  <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Layer Details</h5>
        </div>
        <div class="modal-body">
          <b>Id</b>: {{_layer.id}} <br>
          <b>Name</b>: {{_layer.name}} <br>
          <b>Description</b>: {{_layer.description}} <br>
          <b>Order</b>: {{_layer.order}} <br>
          <b>Provider Name</b>: {{_layer.providerName}} <br>
          <b>Provider Id</b>: {{_layer.providerInfoId}} <br>
          <b>Styles</b>: {{_layer.styles | json}} <br>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal delete confirmation -->
  <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete confirmation</h5>
        </div>
        <div class="modal-body">
          <b>This item, and all others entities relationated with it, will be permanently removed!</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteLayer($event, _layer.id)">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal bigger img -->
  <div class="modal fade" id="img" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Style Icon</h5>
        </div>
        <div class="modal-body text-center">
          <img [src]="printImage(_style)" width="300" height="100">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
