
  <div class="content">

    <div class="container">
      <h2 class="mb-5"><b>Category Tematic</b></h2>


      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col">Tematic Name</th>
              <th scope="col">Layer</th>
              <th scope="col">Query</th>
              <th scope="col">Style</th>
              <th scope="col" class="col-md-1"><a class="create">New</a></th>
            </tr>
          </thead>
          <tbody *ngFor="let tematic of tematics">
            <tr scope="row" (click)="hover()">
              <td>
                {{tematic.tematicName}}
              </td>
              <td><a class="create" (click)="label($event)">{{tematic.layerName}}</a></td>
              <td>
                {{tematic.tematicTypeName}}
              </td>
              <td>{{tematic.styleName}}</td>
              <td class="col-md-1">
                <i class="far fa-edit fa-lg edit2" ></i>

                <i class="far fa-trash-alt fa-lg trash2"></i>
              </td>
            </tr>
            <tr class="spacer"><td colspan="100"></td></tr>

          </tbody>
        </table>
      </div>


    </div>

  </div>
