
<div class="body-content">

  <div class="container">
      <div class="logo">
          <img src="../../../assets/img/account-image.png" alt="Company Logo" srcset="">
      </div>
      <h2>User Login</h2>

      <div *ngIf="getAtrr('Username')?.invalid && getAtrr('Username')?.touched">
        <small class="text-danger" *ngIf="getAtrr('Username')?.errors?.['required']">Email is required</small>
        <small class="text-danger" *ngIf="getAtrr('Username')?.errors?.['email']">Invalid email</small>
      </div>

      <div class="login-form">
          <form [formGroup]="UserForm" (ngSubmit)="loginUser()">
              <div class="form-item">

                <i class="fa fa-envelope" aria-hidden="true"
                  [class.red-icon]="getAtrr('Username')?.invalid && getAtrr('Username')?.touched"
                  [class.green-icon]="getAtrr('Username')?.valid"></i>

                  <!-- <label for="userName">Username:</label> -->
                  <input type="email" formControlName="Username" placeholder="Email">
              </div>

              <div *ngIf="getAtrr('Password')?.invalid && getAtrr('Password')?.touched">
                <small class="text-danger" *ngIf="getAtrr('Password')?.errors?.['required']">Password is required</small>
              </div>

              <div class="form-item">
                <i class="fas fa-key" aria-hidden="true"
                  [class.red-icon]="getAtrr('Password')?.invalid && getAtrr('Password')?.touched"
                  [class.green-icon]="getAtrr('Password')?.valid"></i>
                  <!-- <label for="passWord">Password:</label> -->
                  <input type="password" formControlName="Password" placeholder="Password" maxlength="15">
              </div>

              <div class="form-btns">

                  <button type="submit" [disabled]="UserForm.invalid"
                          class="btn btn-success btn-lg btn-block">Login</button>
                  <div class="options">
                      <a (click)="goRegister()">Sign Up</a>
                  </div>

              </div>
          </form>
          <p>Copyright &copy; OLS Login</p>
      </div>
  </div>
</div>
