
<div class="card mainscreen">

  <table class="table table-sm table-bordered table-striped table-head">
    <thead>
        <th>
          <p class="text-center">Layer</p>
        </th>
        <th>
          <p class="text-center">Query</p>
        </th>
        <th>
          <p class="text-center">Style</p>
        </th>
        <th>
          <p class="text-center"></p>
        </th>
      </thead>

    <tbody>
    <tr *ngFor="let _query of tematicService.tematicQueries; let i = index">
      <td class="col-md-2 text-center">{{_query.layerName}}</td>
      <td class="col-md-4">
        <div *ngFor="let condition of _query.conditions">
          <b *ngIf="condition.logicOperator">{{condition.logicOperator + ' ' | uppercase}}</b>
          {{condition.columnName + ' '}} {{condition._operator | uppercase}} {{' ' + condition.value}}<br>
        </div>
      </td>
      <td class="col-md-2 text-center">
        {{_query.styleName}}
      </td>
      <td class="col-md-2 text-center">
        <i class="far fa-edit fa-lg edit" (click)="editQuery(i)"></i>

        <i class="far fa-trash-alt fa-lg trash" (click)="deleteQuery(i)"></i>
      </td>
    </tr>
  </tbody>
  </table>

</div>
